.errorBlockActive{
    color: red;
}
.errorBorder{
    border: 2px solid red;
    display: inline-flex;
}
.errorMessageBlock{
    color: red;
    border: 2px solid red;
    width: fit-content;
    padding: 5px 20px;
    margin: 10px;
}