/* .App {
  text-align: center;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "h h"
    "n c";
  grid-gap: 10px;
}

header img {
  width: 50px;
  height: 50px;
}

.header {
  grid-area: h;
  background-color: brown;
} */

.row{
  margin-left: 0 !important;
  margin-right: 0;
}
/* Header */

/* Top header row */
.header {
  height: 150px;
}
.top-header-row {
  background-color: #424242;
  height: 27px;
}
.top-header-cont {
  background-color: #424242;
  color: white;
  height: 27px;
  vertical-align: center;
  line-height: 27px;
}
.top-header-cont a {
  padding-top: 0;
  color: white;
}
.top-header-cont a:hover {
  color: gray;
}

/* Middle header row */

.mid-header-row {
  height: 112px;
  background: url("../Images/mid-head-bg.png") repeat-x;
}
.mid-header-cont {
  line-height: 112px;

}
/* End Header */

/* Central block */
/* Main vertical menu */
.vert-cat-menu-cont {
  height: 39px;
}
.vertical-cat-menu-ul {
  padding-top: 2px;
}
.active-vert-cat-menu{
background: url("../Images/main-menu-btn.png") repeat-x;
}
.active-vert-cat-menu > a{
  color: #fff !important;
}
.vertical-line{
  border-bottom: solid 1px #dedede;
}
.vert-cat-menu-toggler-but{
  height: 90%;
  padding: 0 10px;
}
.vert-cat-menu-toggler-but > span{
  height: 90%;
}


/* Categories menu */
#categories-menu{
  border: 1px solid #d6d6d6 !important;

}
.cat-menu-li{
  line-height: 29px;
  height: 29px;
  margin-bottom: 1px;
}
.active-cat-menu-point{
  background: url("../Images/categories-active-btn-bg.png") repeat-x;
  color: #fff !important;
}
.cat-menu-li a{
  color: gray;
}
.cat-menu-li a:hover{
  background-color: lightgrey;
}
.link-border{
  border-bottom: 1px solid #e6e7e8;
  display: flex;
}
.active-cat-menu-point .link-border{
  border: none
}

/* Contentblock common*/

.profileBlock{
  width: inherit;
  border: 1px solid #d6d6d6;
}
